[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["npm install -g corepack@0.24.1", "corepack enable", "pnpm config set enable-pre-post-scripts true", "pnpm i --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm run start:prod"
